* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d4d2bd;
    width: 100%;
}

.main-header {
    background-color: #78866B;
    width: 100%;
    height: 300px;
}

.navbar {
    background-color: #7e6c87;
    height: 80px;
    margin-bottom: 60px;
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

/* .navbar-items {
    width: 180px;
    height: 60px;
    flex-grow: 1;
    background-color: #D9D7C5;
} */

.main-div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-border-div {
    width: 1720px;
    height: 2000px;
    border: solid 3px #D0A933;
    margin-bottom: 60px;
}

.main-footer {
    background-color: black;
    width: 100%;
    height: 400px;
}
