@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', 'Arial', sans-serif;
}

body {
    background-color: #d4d2bd;
    width: 100%;
    font-size: 16px;
}

.main-header {
    color: #D0A933;
    background-color: #78866B;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 120px;
    margin-right: 80px;
    align-content: center;
}

.main-subtitle {
    font-size: 70px;
    margin-left: 250px;
}

.navbar {
    flex-grow: 1;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #7e6c87;
    align-items: center;
    justify-content: center;
}

.menu-items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-link {
    margin-right: 40px;
    background-color: #d4d2bd;
    display: flex;
    justify-content: center;
    color: black;
    width: 180px;
    padding: 12px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
}

.menu-link:hover {
    background-color: #d4d2bd90;
}

.main-div {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
}

.main-border-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px #D0A933;
    justify-content: center;
    align-items: baseline;
}

.div-about-store {
    color: white;
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: row;
}

.text-store {
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 450px;
    width: 68%;
    margin: 2px;
    background-color: #78866B;
    padding: 20px;
    border-radius: 20px;
}

.title-store {
    text-align: center;
    font-size: 60px;
    margin-bottom: 2%;
}

.p-store {
    font-weight: 900;
    color: white;
    text-align: justify;
    font-size: 25px;
}

.div-about-img {
    display: flex;
    width: 25%;
    height: 450px;
    margin-right: 3%;
}

.floriculture-img {
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url('./Images/floricultura.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div-purchase-ranking {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 96%;
    justify-content: center;
    border-radius: 20px;
    background-color: #7e6c87;
    margin-bottom: 2rem;
}

.div-purchase-ranking-bk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-purchase-h1 {
    margin-top: 1rem;
    font-size: 100px;
    color: white;
    margin-bottom: 1rem;
}

.flower-position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.card-flower {
    display: flex;
    flex-direction: column;
    background-color: #D0A933;
    width: 300px;
    height: 380px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.card-flower:hover {
    transform: scale(1.1);
}

.img-flower {
    width: 60%;
    height: auto;
    margin-top: 1rem;
}

.card-pflower {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.div-about-team {
    height: auto;
    width: 96%;
    background-color: #78866B;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5rem;
}

.title-about-team {
    text-align: center;
    font-size: 80px;
    color: white;
    margin-bottom: 2%;
    width: 100%;
}

.text-about-team {
    text-align: justify;
    color: white;
    font-size: 30px;
    width: 60%;
    margin-right: 20px;
}

.img-about {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

footer {
    font-weight: 800;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    height: 20%;
    color: rgb(142, 135, 135);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h4 {
    margin-bottom: 0.75rem;
}

#footer_contacts img {
    margin-left: 15px;
}

#footer_contacts p {
    margin-left: 15px;
}

#social_midia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#social_midia .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
}

#social_midia .footer_link i {
    font-size: 1.25rem;
}

#social_midia .footer_link:hover {
    opacity: 0.8;
}

#instagram {
    text-decoration: none;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    text-decoration: none;
    background-color: #4267b3;
}

#whatsapp {
    text-decoration: none;
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    font-weight: 800;
}

.footer-list .footer-link {
    color: antiquewhite;
}

.footer-list .footer-link:hover {
    color: #D0A933;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    font-weight: 800;
    color: #9951bd;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: rgb(35, 35, 35);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.main-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 200px;
}

.main-searchbar input {
    height: 2rem;
    width: 90%;
    background-color: #d4d2bd;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
}

.div-searchbar-form {
    justify-content: center;
    background-color: #7e6c87;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 150px;
    margin-top: 4rem;
}

.search-input {
    background-color: #fbeed7;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.search-button {
    background-color: #78866B;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.main-div-products {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    width: 96%;
    height: 1100px;
    margin-top: 20px;
}

.product-card {
    background-color: #D0A933;
    border: 1px solid #ccc;
    color: white;
    border-radius: 10px;
    padding: 20px;
    height: 455px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.img-small {
    margin-top: -80px;
}

.product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #78866B;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #4caf50;
}
